.detail-specialty-container {
  .description-specialty {
    background-color: aliceblue !important;
    padding: 10px;
    margin: 15px 0px;

    h1,
    h2,
    h3 {
      font-size: 16px;
      font-weight: 600;
    }
  }
}
