.login-background {
  height: 100vh;
  background: linear-gradient(-225deg, #a8edea 0%, #fed6e3 100%);
  .login-container {
    width: 400px;
    border-radius: 10px;
    background-image: linear-gradient(to top, #e3fdf5 0%, #ffe6fa 100%);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 450px;
    .login-content {
      padding: 10px;
      .text-login {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        padding-top: 10px;
      }
      .login-input {
        margin: 7px 0;
        .custom-input-password {
          position: relative;
          i {
            position: absolute;
            right: 5px;
            top: 10px;
            cursor: pointer;
          }
        }
      }
      .btn-login {
        width: 100%;
        margin: 10px 0;
        height: 30px;
        border-radius: 15px;
        outline: none;
        border: none;
        background: linear-gradient(-225deg, #a8edea 0%, #fed6e3 100%);
        color: white;
      }
      .forgot-password {
        font-size: 12px;
      }
      .social-login {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top: 10px;
        .google {
          font-size: 30px;
          background: #e6292f;
          border-radius: 50%;
          height: 50px;
          width: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
        }
        .facebook {
          font-size: 30px;
          background: #2f95de;
          border-radius: 50%;
          height: 50px;
          width: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
        }
        .twitter {
          font-size: 30px;
          background: #0b99f2;
          border-radius: 50%;
          height: 50px;
          width: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
        }
      }
    }
  }
}
