.container-list {
  margin-top: 76px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  h2 {
    padding: 10px;
  }
  .item {
    :hover {
      cursor: pointer;
    }
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    width: 70%;
    .item-img {
      padding: 10px;
      img {
        width: 100px;
        height: 100px;
      }
    }
    .item-name {
      font-weight: 700;
    }
  }
}
